* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
/* LOGO & NAVBAR */

nav {
  margin: 16px;
  justify-content: space-between;
}

.logo {
  /*float: left;*/
}

ul {
  display: none;
}

#menu:checked ~ ul {
  /*  float: right;*/
  display: block;
}

#menu {
  display: none;
}

label {
  float: right;
  box-sizing: border-box;
  display: inline-block;

  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

/* Estilo del boton cuando se pasa el mouse por encima*/
label:hover {
  font-weight: bolder;
}

/* Estilo del boton cuando el menú está expandido*/
input:checked ~ label {
  /*display: none;*/
}

ul {
  margin-top: 0;
  padding: 0;
  width: 90%;
}

li {
  display: block;
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
  padding: 10px;
  list-style: none;
  color: #ffffff;
  background: #0000ec;
  text-align: left;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
li:hover {
  filter: brightness(110%);
}

/* SHOWCASE */
.showcase {
  margin: 16px;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  margin-bottom: 20px;
}

.tachado {
  text-decoration: line-through;
}

h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 20px;
}

.btn_conoce {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  display: flex;
  background: #00f3bb;
  width: 288px;
  height: 48px;
  min-width: 90%;
  min-height: 0.9%;
  align-items: center;
  justify-content: center;
}

.btn_conoce:hover {
  background: linear-gradient(to left, #00f0b8, #0000fe);
}

/* PRINCIPAL */
.torcido-blue {
  /*display: flex;*/
  /*align-items: center;*/
  color: white;
  background: linear-gradient(to bottom, #0000ff, #0000a3);

  clip-path: polygon(0 30px, 100% 0%, 100% 95%, 0% 100%);
}

h3 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 36px;
  margin: 20px;
  padding-top: 50px;
}

.images {
  margin: 16px;
}
